.inner {
    max-width: 1600px;
    margin: 0 auto;
}

.default .inner {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

.default {
    padding: 100px 0;
}

.default .tit_area {
    max-width: 1200px;
    margin: 0 auto 8px auto;
    /* padding: 0 15px; */
}

.default .tit_area span {
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
    /* 마진을 아래쪽으로만 주는 원칙을 깬다. */
}

.default .tit_area p {
    font-size: 16px;
    margin: 0 0 24px 0;
}


@media (max-width: 768px) {
    .default .title h2 {
        font-size: 5vw;
    }

    .default .title p {
        font-size: 2.5vw;
    }
}