* {
    outline: 1px solid skyblue--;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.wrap {}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: #202124;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    margin: 0 auto;
    max-width: 160rem;
}

#header h1 a img {
    width: 25rem;
}

#header .gnb .depth1 {
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    font-weight: 600;
}

#header .util .util_wrap {
    display: flex;
    gap: 3rem;
}

#header .util .util_wrap li~li::before {
    content: "";
    height: 2px;
    width: 14px;
    color: aquamarine;
}

#header .mopen {
    display: none;
}

.MainVisual {
    position: relative;
}


.MainVisual .content {
    position: absolute;
    width: 160rem;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: left;
    transform: translate(0, -50%);
    z-index: 1000;
}

.MainVisual .content span {
    display: block;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 0 0 1.8rem 0;
}

.MainVisual .content strong {
    font-size: 5rem;
}


.MainVisual .main_visual_slide {
    position: relative;
}

.MainVisual .itm {
    position: relative;
    height: 100vh;
}

.MainVisual .itm01 {
    background: url(../images/main_visual_001.jpg)no-repeat center center/cover;
}

.MainVisual .itm02 {
    background: url(../images/main_visual_002.png)no-repeat center center/cover;
}

.MainVisual .itm03 {
    background: url(../images/main_visual_003.png)no-repeat center center/cover;
}

.MainVisual .itm04 {
    background: url(../images/main_visual_004.jpg)no-repeat center center/cover;
}

.MainVisual .itm05 {
    background: url(../images/main_visual_005.jpg)no-repeat center center/cover;
}



.MainTab {
    background: url(../images/bg_003.png) no-repeat right bottom;
}


.MainTab .inner .main_tab {
    display: flex;
    gap: 2rem;
    margin: 0 0 0 auto;
}

.MainTab .inner .main_tab li {
    font-size: 1.8rem;
    text-align: center;
    border: 1px solid #9d9272;
    line-height: 2.4rem;
    padding: 0 2.4rem;
}

.MainTab .inner .main_tab li.on {
    border: 1px solid #9d9272;
    background: #9d9272;
    color: #fff;
}

.MainTab .tab_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    max-width: 120rem;
}

.MainTab .tab_inner img {
    width: 100%;
    margin: 0 0 16px 0;
}

.tab_content .content {
    display: none;
}

.tab_content .content.on {
    display: block;
}

.txt_box {
    text-align: center;
}

.tab_content .content p {
    font-size: 16px;
    font-weight: 500;
}